#crudForm{
    /* background: yellow; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: auto; */
    /* grid-template-areas: 
      "id_proveedor nombre_proveedor nombre_proveedor nombre_proveedor nombre_proveedor"
      "domicilio domicilio cp poblacion poblacion"; */
    grid-column-gap: 2%; 
    grid-row-gap: 0%; 
  } 
  
 
  #crudForm > div.md-form {
      /* background: gold; */
      /* margin-top:0px;
      width:100%; */
      margin-top:0px;
      display:none;
   }
   #report-error{
     display:none;
   }
  
   @media screen and (max-width: 1900px) {

   #crudForm div.id_proveedor_form_group {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
      display:block;
      
   }
   #crudForm div.nombre_proveedor_form_group {
    grid-column: 2 / span 7;
    grid-row: 1 / 1;
    display:block;
   }
   #crudForm div.contacto_form_group {
    grid-column: 9 / span 6;
    grid-row: 1 / 1;
    display:block;
   }
   
   #crudForm div.domicilio_form_group {
    grid-column: 1 / span 4;
    grid-row: 2 / 2;
    display:block;
 }
 #crudForm div.cp_form_group {
    grid-column: 5 / 5;
    grid-row: 2 / 2;
    display:block;
 }
 #crudForm div.poblacion_form_group {
    grid-column: 6 / span 3;
    grid-row: 2 / 2;
    display:block;
 }
 #crudForm div.provincia_form_group {
    grid-column: 9 / span 2;
    grid-row: 2 / 2;
    display:block;
 }
 #crudForm div.pais_form_group {
    grid-column: 11 / span 4;
    grid-row: 2 / 2;
    display:block;
 }   

 #crudForm div.telefono_form_group {
    grid-column: 1 / span 2;
    grid-row: 3 / 3;
    display:block;
 }   
 #crudForm div.movil_form_group {
    grid-column: 3 / span 2;
    grid-row: 3 / 3;
    display:block;
 } 
 #crudForm div.fax_form_group {
    grid-column: 5 / span 2;
    grid-row: 3 / 3;
    display:block;
 } 
 #crudForm div.email1_form_group {
    grid-column: 7 / span 3;
    grid-row: 3 / 3;
    display:block;
 } 
 #crudForm div.email2_form_group {
    grid-column: 10 / span 5;
    grid-row: 3 / 3;
    display:block;
 } 

 #crudForm div.id_contable_form_group {
    grid-column: 1 / span 2;
    grid-row: 4 / 4;
    display:block;
 } 
 #crudForm div.id_forma_pago_form_group {
    grid-column: 3 / span 4;
    grid-row: 4 / 4;
    padding-top:10px;
    display:block;
 }
 #crudForm div.id_forma_pago_form_group div{
    margin-top:0px;
 }
 
 #crudForm div.web_form_group {
    grid-column: 7 / span 8;
    grid-row: 4 / 4;
   
    display:block;
 }

 #crudForm div.status_proveedor_form_group {
    grid-column: 1 / span 2;
    grid-row: 5 / 5;
    display:block;
    padding-top:10px;
 }
 #crudForm div.status_proveedor_form_group div{
  margin-top:0px;
}

#crudForm div.status_acreedor_form_group {
  grid-column: 1 / span 2;
  grid-row: 5 / 5;
  display:block;
  padding-top:10px;
}
#crudForm div.status_acreedor_form_group div{
margin-top:0px;
}

 #crudForm div.otros_form_group {
    grid-column: 3 / span 12;
    grid-row: 5 / 5;
    display:block;
 }
 
 /* mensaje de error cuando se muestra */
 #crudForm div.form-group {
  grid-column: 1 / span 14;
  grid-row: 6 / 6;
}
 
   }

   @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1 1fr);

    #crudForm div.id_proveedor_form_group {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
      display:block;
      
   }
   #crudForm div.nombre_proveedor_form_group {
    grid-column: 1 / 1;
    grid-row: 2/2;
    display:block;
   }
   #crudForm div.contacto_form_group {
    grid-column: 1 / 1;
    grid-row: 3/3;
    display:block;
   }
   
   #crudForm div.domicilio_form_group {
    grid-column: 1 / 1;
    grid-row: 4/4;
    display:block;
 }
 #crudForm div.cp_form_group {
    grid-column: 1 / 1;
    grid-row: 5/5;
    display:block;
 }
 #crudForm div.poblacion_form_group {
    grid-column: 1 / 1;
    grid-row: 6/6;
    display:block;
 }
 #crudForm div.provincia_form_group {
  grid-column: 1 / 1;
    grid-row: 7/7;
    display:block;
 }
 #crudForm div.pais_form_group {
  grid-column: 1 / 1;
    grid-row: 8/8;
    display:block;
 }   

 #crudForm div.telefono_form_group {
  grid-column: 1 / 1;
    grid-row: 9/9;
    display:block;
 }   
 #crudForm div.movil_form_group {
  grid-column: 1 / 1;
    grid-row: 10/10;
    display:block;
 } 
 #crudForm div.fax_form_group {
  grid-column: 1 / 1;
    grid-row: 11/11;
    display:block;
 } 
 #crudForm div.email1_form_group {
  grid-column: 1 / 1;
    grid-row: 12/12;
    display:block;
 } 
 #crudForm div.email2_form_group {
  grid-column: 1 / 1;
    grid-row: 13/13;
    display:block;
 } 

 #crudForm div.id_contable_form_group {
  grid-column: 1 / 1;
    grid-row: 14/14;
    display:block;
 } 
 #crudForm div.id_forma_pago_form_group {
  grid-column: 1 / 1;
    grid-row: 15/15;
    padding-top:10px;
    display:block;
 }
 #crudForm div.id_forma_pago_form_group div{
    margin-top:0px;
 }
 
 #crudForm div.web_form_group {
  grid-column: 1 / 1;
    grid-row: 16/16;
   
    display:block;
 }

 #crudForm div.status_proveedor_form_group {
  grid-column: 1 / 1;
    grid-row: 17/17;
    display:block;
    padding-top:10px;
 }
 #crudForm div.status_proveedor_form_group div{
  margin-top:0px;
}

#crudForm div.status_acreedor_form_group {
  grid-column: 1 / 1;
  grid-row: 18/18;
  display:block;
  padding-top:10px;
}
#crudForm div.status_acreedor_form_group div{
margin-top:0px;
}

 #crudForm div.otros_form_group {
  grid-column: 1 / 1;
    grid-row: 19/19;
    display:block;
 }
 
 /* mensaje de error cuando se muestra */
 #crudForm div.form-group {
  grid-column: 1 / 1;
  grid-row: 20/20;
}


   }


   
  
   